@import url('https://fonts.googleapis.com/css?family=Roboto');
// $lunar: #a5a5a5;
$lunar: #f0f0f0;

html {
  font-family: 'Roboto', sans-serif;
  font-style: 16px;
  color: #000;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.content-wrapper {
  z-index: 1;
  text-align: center;

  h1 {
    margin-bottom: 3px;
  }
  .pre {
    text-align: center;
    margin-bottom: 30px;
    display: block;
    color: #333;
  }
}

.page-wrapper > canvas {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
}



// AUTO COMPLETE SCSS BELOW
.autocomplete {
  height: 40px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid $lunar;
}

.autocomplete__suggestions {
  position: absolute;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  z-index: 100;

  &.hidden {
    display: none;
  }
}

.autocomplete__suggestion {
  padding: 10px;
  border-color: $lunar;
  border-width: 1px 1px 0 1px;
  border-style: solid;

  &:first-child {
    border-top-width: 0;
  }
  &:last-child {
    border-bottom-width: 1px;
  }
  &:hover {
    background: linear-gradient(to bottom, transparent 50%, rgba(100, 100, 100, 0.05));
    background-color: #f5f5f5;
    cursor: pointer;
  }
  &.selected {
    background: linear-gradient(to bottom, transparent 50%, rgba(100, 100, 100, 0.05));
    background-color: #e0e0e0;
    cursor: pointer;
  }
}

.autocomplete__wrapper {
  position: relative;
  min-width: 300px;
}

.autocomplete__help {
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}
